:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --peach:hsl(6, 100%, 80%);
    --pink:hsl(335, 100%, 65%);
    --normal:400;
    --bold:700;
}
@font-face{
    font-family: 'Raleway' ;
    src: url('https://fonts.google.com/specimen/Raleway');

}
html{
    background:hsl(229, 57%, 11%);
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom; 
    font-family: 'Raleway', Arial, Helvetica, sans-serif ;
    font-weight: 400;
    font-size: 14px; 
    color: var(--pale-blue);

}
html,body{
    width:1440px;
    height: 800px;
    margin: 0;
}

.bold{
    font-weight: var(--bold);
}

.container {
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-template-columns: 336px 528px;
    grid-template-rows:200px; 
    grid-gap: 24px;
    justify-content: center;
    align-content: center;
            }
.fylo-buttons{
    background: var(--dark-blue);
    border-radius: 12px 100px 12px 12px;
    display: grid;
    grid-template-columns: repeat(8, 1fr) ;
    grid-template-rows:1fr 1fr ; 
}


.fylo-buttons > div {
    grid-column-start: 2;
    grid-column-end: 6;
}
 #logo {
    align-self:center;
}

 #buttons{
    display: flex;
    justify-content: space-between;
    gap: 15px;
   
    
 }
    
 #buttons > div{
    background: var(--very-dark-blue);
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items:center;
 } 

 #buttons > div> input{
    display: block;
    margin: auto;
    
 }

.fylo-storage-progress-container{
    display: grid;
    grid-template-rows:repeat(12, 1fr); 
    grid-template-columns: 1fr 17fr 1fr ;
}
#fylo-storage-progress{
    background: var(--dark-blue);
    border-radius: 12px;
    grid-row-start: 3;
    grid-row-end: span 10;
    grid-column-start: 2;
}
    
/* #fylo-storage-progress > div{
    
    grid-column-end: span 1;
} */
/* .bar {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    background-color: #2a2a2a;
}
.progress {
    display: block;
    width: 4%;
    height: 100%;
    background-color: tomato;
} */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
/* .attribution a { 
    color: hsl(228, 45%, 44%); 
} */